spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/school
    username: postgres
    password: XXXXX

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
